html {
  scroll-behavior: smooth;
}
.container .resume-item {
  /* not sure about this resume-item being flex */
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
h1{
  font-family: 'Lexend Deca', sans-serif;
}
h2 {
  font-family: 'Lexend', sans-serif;
}
button {
  background-color: hotpink;
  font-family:'Lexend Deca', sans-serif;
  padding: 1em;
}
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
li  {
  list-style-type: none;
}
