
.icon-down-open-1:before { content: '\41'; } /* 'A' */
.icon-simplybuilt:before { content: '\44'; } /* 'D' */
.icon-github-circled:before { content: '\47'; } /* 'G' */
.icon-linkedin-squared:before { content: '\4c'; } /* 'L' */
.icon-align-justify:before { content: '\4e'; } /* 'N' */
.icon-slack:before { content: '\53'; } /* 'S' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
